<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Sucre.qrscandemo"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />  
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name="com.activity.ScanActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        -->
        <!--
         android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
        -->

        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.activity.WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.activity.MainActivity"
            android:label="@string/title_activity_main" >
            
        </activity>
        <activity
            android:name="com.activity.DisplayActivity"
            android:label="@string/title_activity_display" >
        </activity>
        <activity
            android:name="com.activity.CardDetailActivity"
            android:label="@string/title_activity_card_detail" >
        </activity>
        <activity
            android:name="com.activity.PesonalSettingActivity"
            android:label="@string/title_activity_pesonal_setting" >
        </activity>
        <activity
            android:name="com.activity.LoginActivity"
            android:label="@string/title_activity_login" 
            android:launchMode="singleTop">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="com.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.activity.RegisteActivity"
            android:label="@string/title_activity_registe" 
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>